:root {
  --thm-gray: #878c8f;
  --thm-gray-rgb: 135, 140, 143;
<<<<<<< HEAD
  --thm-base: #02801E; 
=======
  --thm-base: #02801e;
>>>>>>> f71f099e398d1d1c30c0bb4f42a54436e6e2a439
  --thm-base-rgb: 60, 171, 65;
  --thm-black: #2e8b57;
  --thm-black-rgb: 11, 61, 44;
  --thm-primary: #0d4110;
  --thm-primary-rgb: 42, 125, 46;
  --thm-white: #dddddd;
}
